<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <title>Chat-bot</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <style>
          .container .di{
            padding-left: 40px;
            display: inline-flex;
          }
          .container .lg{
            background-color: cyan;
            border: 2px solid black;
            float:right;
            padding: 10px 30px 10px;
            border-radius: 30px;
          }
        </style>
    </head>

    <body>
        <div class="container">
            <!--CHAT BOX-->
            <div class="chat-bot">
                <!--client-->

                <div class="client">
                    <img src="{{url_for('static',filename='img/Chatlogo.jfif')}}" width="50px" height="50px" alt='logo' />
                    <div class="client-info">
                        <h2>Marathi Chatbot</h2>   
                        <p>Online</p>
                    </div>
                    <div class="di">
                      <div class="info" style="padding-top: 10px;padding-right: 5px;">
                        {% if user %}
                          Welcome, <b>{{user}}</b>
                        {% endif %}
                      </div>
                      <button class="lg" onclick="window.location.href='{{url_for('logout')}}';">LOG OUT</button>
                    </div>
                </div>
                <!--main chat section
                <div class="chats">
                    <div id="chats">
                    </div>
                </div> -->
                <!--input field section-->
                <!--
                <div class="chat-input">
                <div id = "userInput">
                    <div class="input-group mb-3">
                      <input class="form-control" id ="textInput" type ="text" name="userText" placeholder="Message" aria-describedby="buttonInput">
                      <input class="send-btn" id = "buttonInput" type = "submit" value="Send" />
                    </div>
                  </div>
                 </div> 
                 -->
                 <div class="chats">
                  <div id = "chatbox">
                  </div>
                 </div>
                 <div id = "userInput">
                  <div class="chat-input">
                    
                        <input id ="textInput" type ="text" name="userText" placeholder="Message" aria-describedby="buttonInput">
                        <div class="send-btn">
                          <img src="{{url_for('static',filename='img/send.jfif')}}" alt="sendbtn" id="buttonInput">
                        </div>
                        <!--<input id = "buttonInput" type="submit" value="Send" class="send-btn">-->
                      <script>
                        function getBotResponse(){
                          var rawText = $("#textInput").val();
                          var userHtml = '<br><div class="my-chat">' + rawText + '</div>';
                          $("#textInput").val("");
                          $("#chatbox").append(userHtml);
                          
                          document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
                          $(document).ready(function(){
                            $('.chats').animate({scrollTop:1000000},2000);
                          });
                          $.get("/opt/chatbot-mr/get", {msg:rawText }).done(function(data) {
                            var botHtml = '<br><div class="client-chat">' + data + '</div>';
                            $("#chatbox").append(botHtml);
                            console.log(rawText,data);
                            document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
                          });
                        
                          }
                          $("#textInput").keypress(function(e) {
                            if(e.which == 13) {
                            getBotResponse();
                            }
                          });
                          $("#buttonInput").click(function() {
                            getBotResponse();
                        })
                        </script>
                    </div> 
                 </div>
            </div>
        </div>
        
    </body>
</html>